.head{
    text-align: center;
    color: Black;
    font-weight: 600;
    font-size: larger;
    margin-right: 350px;
}
.paragraph{
    text-align: left;
    font-weight: 300;
    margin-right: 500px;
}
#img{
    height: 500px;
    float: left;
}
#image{
    width: 700px;
    float: right;
}
